<header class="site-header">
  <div class="wrapper">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-nav-bar" aria-label="mobile nav bar">
            <span class="icon-bar" style="background-color: #F7F5D2 !important;"></span>
            <span class="icon-bar" style="background-color: #F7F5D2 !important;"></span>
            <span class="icon-bar" style="background-color: #F7F5D2 !important;"></span>
          </button>
          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>
        <div class="collapse navbar-collapse" id="mobile-nav-bar">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            <a class="dropdown-toggle page-link nav-label visible-xs" data-toggle="dropdown" href="#">Categories <span class="caret"></span></a>
            <ul class="dropdown-menu">
               <!-- Sort categories -->
                {% assign sorted_categories = site.categories | sort %}
                {% for category in sorted_categories %}
                <!-- Grab the category name ( which is the first string in the array, it's [categoryName, [categoryposts...]]) -->
                {% assign category_name = (category | first) %}
                <!-- Skip the "recipes" category -->
                {% if category_name == "recipes" %}
                {% continue %}
                {% endif %}
                <!-- category_links expects an array, so we put our single category into an array -->
                {% assign category_name_array = category_name | split: "|" %}
                {{ category_name_array | category_navs }}
                {% endfor %}
            </ul>
          </li>
            {% for page in site.pages %}
              {% if page.title and page.layout == "page" %}
                <li><a class="page-link nav-label" href="{{ /page.permalink/ | prepend: site.baseurl }}">{{page.title}}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
