<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Recipe",
  "name": "{{include.post.title}}",
  "author": "{{include.post.author}}",
  "recipeYield": "{{include.post.servings}}",
  {% if include.post.primaryimage %}
  "image": "{{ site.url }}/assets/{{include.post.primaryimage}}",
  {% endif %}
  "description": "{{include.post.blurb}}",
  "recipeIngredient" : {{ include.post.ingredients | jsonify }},
  "recipeInstructions": {{ include.post.content | strip_html | strip_newlines | strip | split: '.' | jsonify }}
}
</script>