---
layout: default
---
<h1 class="category">{{ page.title | capitalize }}</h1>

<div class="row">

		{% assign sorted_posts = site.categories[page.category] | sort:"title" %}

		{% for post in sorted_posts %}
      {% cycle 'add row' : '<div class="row">', '', '' %}

			<div class="col-sm-4"><a class="activeimage" href="{{ post.url }}">
		{% if post.image %}
      {% cloudinary {{ post.image  | prepend: '/' }} alt="{{ page.title }} image" class="img-responsive img-rounded autoimage"%}
		{% endif %}
			<h3 class="category-recipe-title">{{ post.title }}</h3></a>
			<!-- <div class="category-recipe-date">{{ post.date | date_to_long_string }}</div> -->
			<!-- <div class="categories"><span class="labeltext">Recipe Tags:</span> {{ post.categories | category_links }}</div> -->
			</div>
        {% cycle 'end row' : '', '', '</div>' %}
		{% endfor %}
    {% cycle 'end row' : '', '</div>', '</div>' %}
</div>