---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% if page.description %}
    <p class="labeltext yellow-banner">{{page.description}}</p>
    {% endif %}

 <!--    <p class="post-meta"><time datetime="{{ page.date | date_to_long_string }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></p> -->
  </header>


	{% if page.image %}
    {% cloudinary {{ page.image  | prepend: '/' }} alt="{{ page.title }} image" class="img-rounded img-responsive image"%}
	{% endif %}

	<div class="prep yellow-banner">
		<div class="recipe-banner-1"><span class="labeltext">Yields:</span> <br>{{ page.servings }}</div>
		<div class="recipe-banner-2"><span class="labeltext">Prep Time:</span> <br>{{ page.preptime }}</div>
		<div class="recipe-banner-3"><span class="labeltext">Cook Time:</span> <br>{{ page.cooktime }}</div>
	</div>
	{% if page.read %}
		<div class="panel readfirst">
			<div class=readtext><span class="label tag label-info">READ THIS FIRST:</span> {{page.read}}
			</div>
		</div>
	{% endif %}

	<div class="row recipe-body">
    <div class="ingredients col-xs-12 col-sm-4">
      <h3>Ingredients</h3>
			<ul class="ingredients-list">
			{% for ingredient in page.ingredients %}
				{% if ingredient.ingredient-heading %}
					<li class="ingredient-heading labeltext">{{ ingredient.ingredient-heading }}</li>
		    {% endif %}
		    {% unless ingredient.ingredient-heading %}
        <li class="ingredient-sublist">
          <ul>
				    <li class="sub-ingredient">{{ ingredient }}</li>
				  </ul>
        </li>
			 {% endunless %}
			 {% endfor %}
			</ul>
		</div>
		<div class="directions col-xc-12 col-sm-8">
				<h3>Directions</h3>
			  		<div class="post-content" itemprop="articleBody">
			    		{{ content }}
	  				</div>
		</div>
	</div>
	<div class="yellow-banner"><span class="labeltext">Recipe Tags:</span>
		{% assign tag_links = page | tags %}
		{% for tag_link in tag_links %}
		<div class="label tag label-info">{{tag_link}}</div>
		{% endfor %}
	</div>
	{% if page.source %}
    <p class="post-meta">Original Recipe: {{page.source}}</p>
    {% endif %}
</article>
<!-- Add schema.org JSON-LD -->
{% include recipe_json-ld.html post=page %}