---
layout: default
---
<h2>{{ page.tag | capitalize }}</h2>
<div class="row">
	<ul>
		{% assign sorted_posts=page.posts | sort:"title" %}
		{% for post in sorted_posts %}
			<div class="col-sm-3"><a class="activeimage" href="{{ post.url }}">
				{% if post.primaryimage %}
					<img class="img-responsive img-rounded" src="{{ site.baseurl }}/assets/{{post.primaryimage}}">
				{% endif %}
					<h4 class="category-recipe-title">{{ post.title }}</h4></a>
			</div>
		{% endfor %}
	</ul>
</div>

<div class="prep"><span class="labeltext">Recipe Tags:</span> 
		{% assign tag_links = (site | tags) %}
		{% for tag_link in tag_links %}
		<div class="label label-info">{{tag_link}}</div>
		{% endfor %}

	</div>

